<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="assets/images/logo.png" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-warning btn-circle my-2 my-sm-0 mr-2" (click)="conectarMeta()"> Conectar Metamask </button>
            <button class="btn btn-outline-danger btn-circle my-2 my-sm-0" (click)="cerrarSesion()" type="submit">Cerrar Sesion</button>
        </form>
    </div>
</nav>