<body class="authentication-bg  pb-0">
    <div class="auth-fluid auth-shadow">
        <!--Auth fluid left content -->
        <div class="auth-fluid-form-box auth-shadow">
            <div class="align-items-center d-flex h-100">
                <div class="card-body">

                    <!-- Logo -->
                    <div class="auth-brand text-center text-lg-center mb-2">
                        <a href="index.html">
                            <span><img src="assets/images/logo.png" alt="" height="100"></span>
                        </a>
                    </div>
                    <router-outlet></router-outlet>

                </div>
                <!-- end .card-body -->
            </div>
            <!-- end .align-items-center.d-flex.h-100-->
        </div>
        <!-- end auth-fluid-form-box-->

        <!-- Auth fluid right content -->
        <div class="auth-fluid-right text-center">
            <div class="auth-user-testimonial">
                <span><img src="assets/images/logo.png" alt="" height="50"></span>
                <p class="lead text-tru">Creamos productos digitales con experiencias de usuario memorables, que se basan en la tecnologia blockchain.</p>
                <p>
                </p>
            </div>
            <!-- end auth-user-testimonial-->
        </div>
        <!-- end Auth fluid right content -->
    </div>
    <!-- end auth-fluid-->

</body>